backup

home/.config/btop/btop.log

home/.config/fish/fish_variables

home/.config/lazygit/state.yml

home/.config/nvim/sessions
home/.config/nvim/workspaces.json

home/.config/xmonad/build-x86_64-linux/
home/.config/xmonad/xmonad-x86_64-linux
home/.config/xmonad/xmonad.errors
home/.config/xmonad/xmonad.hi
home/.config/xmonad/xmonad.o

*.DS_Store
