backup
config/alacritty/alacritty.yml.save
config/xmonad/xmonad-x86_64-linux
config/xmonad/xmonad.errors
config/xmonad/xmonad.hi
config/xmonad/xmonad.o
config/zsh/.zhistory
config/zsh/.zcompdump
app.temp
